* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

  #search-form {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  padding: 8px;  
  margin-bottom: 16px;

  background-color: rgb(200, 147, 221);
}

input {
  border: none;
  margin: 0;
  width: 20%;
  padding: 10px;
  border-radius: 4px; 

}

::placeholder{
  color: blueviolet;
  font-size: 16px;
}

.search-form__btn{
  width: 10%;

  margin-left: 15px;
  padding: 8px;

  border: none;
  border-radius: 4px;

  color: blueviolet;
  font-size: 16px;
}

a{
  width: calc((100% - 60px)/4);
    gap: 15px;
  
    border-radius: 5px;
}
 
.gallery-item{
  text-decoration: none;
  color: #050505;
  display: block;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  list-style: none;
  
}

.photo-card{  
  position: relative;
  overflow: hidden;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 5px;

}

.photo__img{
  
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.info{
  display: flex; 
  width: 100%;

  justify-content: space-around;

  background-color: aliceblue;
  
}

.info-item{
  /* display: flex; */
  margin: 0;
  padding: 5px;
  /* align-items: center;  */
  text-align: center; 
}

.load-more{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    min-width: 150px;
    background-color:rgb(235, 178, 243);
    border: 1px solid #4a084a;
    border-radius: 4px;
    font-size: 16px;
    color: #050505;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden{
display: none;
}
/* myBtn  */
#myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1;
  border: none;
  outline: none;
  background-color: #d784f0;
  color: #faebd7;
  cursor: pointer;
  padding: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #9107ccf1;
}

#myBtn span {
  line-height: normal;
  font-size: 50px;
}